################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SnipeAgent/v15
/bin
/publish
/obj
/Properties
