<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="API" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5IiwianRpIjoiYzVlNDA5NDM3OWIzZjllNzM0MmEwYmNlMmQyNTZmMjBhNzg1YjJhZjYyNzAxN2JhZTQxZjdmZTU2ZmUxNWZkYTY2NjE0NzM4NjBjMjA1NTkiLCJpYXQiOjE2NDAxMjQzNjksIm5iZiI6MTY0MDEyNDM2OSwiZXhwIjoyMjcxMjc2MzY5LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.OY-XpyoX5kABBwpDPDAvm2sj2YT_161uoxZ1IqNV4dAaDvWztZum08WvrShl1zuqfLAdbTo_xPhCl2yoHkosQS2J-LbUK0vCihi8EBO2R7yvhSeFI2lnW4txjm9qI2MDw7SweevzRdpfIhwAeglEyYwdpoMygNP3Z_3wbDdIMAmy9Udbm5uJSkbIaLDHq3JuRt_X4c4tM_Ak--MdD42dySSZI6L24lrMn_ERDV2sjqI5_4_b6JTok_6FY_Zi7nayYerwoQ6bR_XU1dGNvqxBC52qbpqLMixe1fExnVJ6LijoU10oyLkEBbra4IwuDM6j2nAPMP_Xi4-8hJcfnbXF8Rze4W5pz02sTYrocfKii_H0t0MUH7h0xKYfcdNVZh3rCFtyfRDgclq9Qcae_jBdHq6b_aXb01YB3SMJKseyTHSoMvd9Lk1oqFj2BQD_E4qEVTgdYSevVlv2btY3UznhQBzF9EvOM39J7yeDnxeFpIMHLCChZZfH4m7GOU9uch1NjYOGI7mbtU5-PYHOgE_47U6UYopS09AG0Wj-uCIRtpReSt6Np9UHABJ2wtc3SFibavDXot4o9HzUz2rU9e_F09Hv_bXRXKaLUkCQXS9OmJF41G7mSyqU7Qd9cWp4sX41Hv4vEpuVxRD2cMdyxOEpjIw_XqMIygC-mHI23X9PK2E" />
    <add key="BaseURI" value="https://asset.agrocria.com.br:3052/api/v1" />
    <add key="DefaultStatusLabel" value="Ready to Deploy" />
    <add key="Company" value="Agrocria Com. e Ind. - Matriz" />
    <add key="Location" value="Matriz" />
    <add key="OUEnabled" value="true" />
    <add key="OULevel" value="1" />
    <add key="Interactive" value="false" />
    <add key="WarrantyMonths" value="36" />
    <add key="AssetTagPrefix" value="AGMTZ" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>